* {
  box-sizing: border-box;
  margin: 0;
}

/* body color */
body {
  background-color: rgb(255, 220, 168);
}
h1 {
  text-align: center;
  font-size: 50px;
}

/* container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  background-color: lightblue;
}

/* dawn */
.dawn {
  border-radius: 50%;
  background-color: rgb(255, 187, 61);
  height: 100px;
  width: 100px;
  margin: 20px;
  z-index: 10;
}

/* morning */
.morning {
  border-radius: 50%;
  background-color: rgb(250, 214, 12);
  height: 100px;
  width: 100px;
  margin: 20px;
  z-index: 10;
}

/* noon */
.noon {
  border-radius: 50%;
  background-color: yellow;
  height: 100px;
  width: 100px;
  margin: 20px;
  z-index: 10;
}

/* mlateday */
.lateday {
  border-radius: 50%;
  background-color: rgb(250, 214, 12);
  height: 100px;
  width: 100px;
  margin: 20px;
  z-index: 10;
}

/* sunset*/
.sunset {
  border-radius: 50%;
  background-color: rgb(255, 187, 61);
  height: 100px;
  width: 100px;
  margin: 20px;
  z-index: 10;
}

/* form style with shorthands */
form {
  border: solid black;
  width: 500px;
  margin: 25px;
  padding: 10px;
  background-color: antiquewhite;
}

/* Responsive Design */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 522px) {
  form {
    width: 400px;
  }
}
@media (max-width: 422px) {
  form {
    width: 300px;
  }
}
